version: "3.4"
services:
  bitcoin.dnp.dappnode.eth:
    image: "bitcoin.dnp.dappnode.eth:0.1.6"
    build:
      context: ./src
      args:
        UPSTREAM_VERSION: v24.0
    volumes:
      - "bitcoin_data:/root/.bitcoin"
    ports:
      - "8340:8340"
    environment:
      - BTC_RPCUSER=dappnode
      - BTC_RPCPASSWORD=dappnode
      - BTC_TXINDEX=1
      - BTC_PRUNE=0
      - BTC_DISABLEWALLET=1
      - BTC_RPCALLOWIP=172.33.0.0/16
      - P2P_PORT=8340
    restart: always
volumes:
  bitcoin_data: {}
